body, html {
  height: 100%;
  font-family: sans-serif;
}

a{
  color: black;
}
a:hover{
  color: black;
  text-decoration: none;
}

.bar{
  width: 100%;
  height: auto;
  background-color: lightgray;
  font-size: 24px;
  display: inline-block;
}

.bar h2{
  display: inline-block;
  margin-left: 50px;
  margin-top: 5px;
}

.bar button {
  background-color: coral;
  float: right;
  margin: 5px;
  font-size: 20px;
}

.hr1{
   color: white;
}

.container{
  position: relative;
  float: right;
  /* margin-top: -535px;
  margin-right: -225px; */
  margin-top: -27.5%;
  margin-right: -11.5%;
}

.container > h1{
  display: inline-block;
}

.container > button{
  display: inline-block;
  margin-left: 275px;
}

#map-canvas{
    width: 850px;
    height: 480px;
    border: 6px;
}

header{
  background-color: coral;
  color: black;
  height: auto;
  font-size: 22px;
  width: 100vw;
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  display: inline-block;
}

header > h1{
  text-align: center;
}

header h2{
  float:left;
  margin-left: 50px;
}

header .testing{
  float: right;
  margin-right: 50px;
}

header button{
  background-color: coral;
}

h1{
  font-family: sans-serif;
}

#cameraText{
  margin-left: 50px;
}

.sendAndReceive{
  font-size: 14px;
  margin-left: 50px;
}

.sendAndReceive p{
  margin-left: 5px;
  margin-bottom: -2px;
}

.sendAndReceive input{
  margin-left: 5px;
  margin-bottom: 5px;
}

.iframe-container{
  overflow: hidden;
  height: 50%;
  width: 45%;
  position: relative;
  margin-left: 50px;
}

.iframe-container > .frame{
  border: 0;
  height: 100%;
  left:0;
  position: absolute;
  top:0;
  width: 100%;
}

.movement{
  width: 100vw;
  margin-left: 45%;
}

.movement button{
  padding: 5px;
  width: 5%;
  margin: 5px;
}

.movement #up, #down, #stop{
  margin-left: 3%;
}
